* body {
    background-image: url(/Pictures/berserk.jpg);
    background-size: cover;
}

div h1 {
    font-family: "Doom";
    color: white;
    text-align: center;
    font-size: 600%;
    margin-top: 2vh;
    text-decoration: underline;
    text-decoration-color: red;
}

