* body {
    background-image: url(/Pictures/berserk.jpg);
    background-size: cover;
}

div h1 {
    font-family: "Doom";
    color: white;
    text-align: center;
    font-size: 600%;
    margin-top: 2vh;
    text-decoration: underline;
    text-decoration-color: white;
    letter-spacing: 5px;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
  }

  #table-button {
    background-color: transparent;
    font-size: 3vh;
    font-family: "Doom";
    letter-spacing: 3px;
    margin-top: 2vh;
    border-style: none;
    cursor: pointer;
  }

  #table-button:hover {
    color: red;
  }

  .wheel-title{
    color: white;
    margin-top: 2vh;
  }

  table{
    background-color: rgb(109, 55, 55);
    height: 500px;
    margin-left: 20vh;
    font-size: 3.5vh;
    padding: 2vh;
    color: white;
    letter-spacing: 4px;
    font-family: "Doom";
  }
  input{
    height: 3vh;
    width: 25vh;
    background-color: rgba(209, 11, 11, 0.205);
    border-style: solid;
    border-color: black;
    font-size: 2vh;
  }
  
  body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-size: cover;
  }
  
  .wheel-container {
    display: flex;
  }
  .mainbox{
    position: relative;
    width: 500px;
    height: 500px;
    margin-left: 23vh;
    margin-top: 10vh;
  }
  .mainbox:after{
    position: absolute;
    content: '';
    width: 200px;
    height: 200px;
    background: url('/Pictures/knife.png') no-repeat;
    background-size: 100px;
    right: -150px;
    top: 50%;
    transform: translateY(-15%);
  }
  .box{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 10px solid white;
    overflow: hidden;
    transition: all ease 5s;
  }
  span{
    width: 50%;
    height: 50%;
    display: inline-block;
    position: absolute;
  }
  .span1{
    clip-path: polygon(0 92%, 100% 50%, 0 8%);
    color: white;
    top: 120px;
    left: 0;
    background-image: url(/Pictures/hell1.jpg);
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .span2{
    clip-path: polygon(100% 92%, 0 50%, 100% 8%);
    background-image: url(/Pictures/hell2.webp);
    background-size: cover;
    color: white;
    top: 120px;
    right: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .span3{
    clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
    background-image: url(/Pictures/hell3.webp);
    background-size: cover;
    color: white;
    bottom: 0;
    left: 120px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .span4{
    clip-path: polygon(50% 100%, 92% 0, 8% 0);
    background-image: url(/Pictures/hell4.jpg);
    background-size: cover;
    color: white;
    top: 0;
    left: 120px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  
  .box1 .span3 b{
     transform: translate(-50%, -50%) rotate(-270deg);
  }
  .box1 .span1 b,
  .box2 .span1 b{
    transform: translate(-50%, -50%) rotate(185deg);
  }
  .box2 .span3 b{
    transform: translate(-50%, -50%) rotate(90deg);
  }
  .box1 .span4 b,
  .box2 .span4 b{
    transform: translate(-50%, -50%) rotate(-85deg);
  }
  
  .box2{
    width: 100%;
    height: 100%;
    transform: rotate(-135deg);
  }
  span b{
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }
  
  .spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 4px solid red;
    background-color: black;
    color: #fff;
    box-shadow: 0 5px 20px #000;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
  }
  .spin:active{
    width: 70px;
    height: 70px;
    font-size: 20px;
  }
  
  .mainbox.animate:after{
    animation: animateArrow 1s ease infinite;
  }
  @keyframes animateArrow{
    50%{
      right: -40px;
    }
  }
  
  